body {
  background: #e35d6a;
}

.navbar {
  position: absolute;
  width: 100%;
}

.navbar-brand {
  font-family: "poppins";
}

.nav-item {
  font-family: "poppins";
  font-size: 0.875rem;
}

.nav-link:hover {
  color: white !important;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.header {
  height: 100vh; 
  width: calc(100vw - var(--scrollbarWidth));
  background-image: url('../../resources/header.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.header-heading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'poppins';
  color: #dc3545;
  font-size: 10vh;
}

.genre {
  font-family: "Roboto";
  margin-top: 1rem;
  margin-left: 2rem;
  color: white;
  font-weight: 500;
}

.subitem {
  border-radius: 5px;
  width: 95%;
  background: #dc3545;
}

.slick-slider {
  margin-top: 0.5rem;
  margin-left: -2.5rem;
  margin-bottom: 1.75rem;
}

.slick-list {
  padding: 0 2.5rem 0 2.5rem;
}

.slick-prev {
  left: 2.25rem;
  z-index: 1;
  width: 2.5rem;
  height: 2.5rem;
}

.slick-next {
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
}

.slick-disabled {
  opacity: 0;
  pointer-events: none;
}

.slick-prev, .slick-next{
  z-index: 1;
  opacity: 0;
  transition: .5s all;
}

.slick-prev:hover, .slick-next:hover {
  opacity: 1;
}

.copyright {
  font-family: "Calibri";
}

.footer {
  font-family: "poppins";
  text-decoration: none;
}

.sticky {
  position: fixed;
  z-index: 1;
}

::-moz-selection {
  color: white;
  background: #ea868f;
}

::selection {
  color: white;
  background: #ea868f;
}

.title {
  font-family: "Roboto";
  margin-top: 1rem;
  color: white;
  font-weight: 500;
}

.rating {
  color: white;
  font-family: "Roboto";
  font-weight: 500;
}

.base_rating {
  color: #f1aeb5;
  font-family: "Roboto";
}

.genres {
  color: white;
  margin: 0.25rem;
  border: 1px solid #f5c2c7;
  padding: 0.25rem 0.9rem;
  border-radius: 25px;
  font-family: "Roboto";
  font-size: 0.875rem;
}

.overview {
  color: white;
  margin: auto 10vw;
  font-family: "Roboto";
}

.year {
  font-family: "Roboto";
  color: white;
  font-weight: 500;
}